/* import an external font */
@font-face { 
  font-family: 'Robotomono';
  src: url('./fonts/RobotoMono-Thin.ttf');
}

/* implement the font to all pages that has this css file imported */
* {
  font-family: 'Robotomono', monospace;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center; /* Horizontal align */
  align-items: center; /* Vertical align */
  text-align: center; /* Align the Title "Calculator" */
  background: linear-gradient(to right, rgb(83, 105, 118), rgb(41, 46, 73));
  color: azure;
}
